* {
  margin: 0;
  padding: 0; }

/*------------------------------------------------------------------

    Mixins

-------------------------------------------------------------------*/
.glss_container {
  width: 100%;
  float: left; }
  .glss_container .glss {
    margin: 0 auto;
    width: 830px; }
    .glss_container .glss .glss_logo {
      height: 95px;
      width: 52px;
      background: url(images/glss_logo.png);
      margin: 30px 0 0 0;
      float: left; }

/* End Mixins */
.clear {
  clear: both; }

.left {
  float: left; }

a {
  text-decoration: none; }

p {
  font-family: sans-serif; }

html, body {
  height: 100%; }

html {
  background: url("images/background_wood_texture.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.pagewrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -430px; }

.pagewrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 430px; }

.site-footer {
  min-width: 960px;
  width: 100%;
  background-image: url("images/econauts_footer.png");
  background-position: center;
  background-repeat: no-repeat; }

/* Main Containers */
.site-header {
  width: 100%;
  min-width: 960px;
  height: 662px;
  background-image: url("images/top_header.png");
  background-repeat: no-repeat;
  background-position: center; }

#econauts_about {
  position: relative;
  margin: 0 auto;
  background-image: url("images/econauts_about.png");
  background-repeat: no-repeat;
  height: 365px;
  width: 960px; }

#slide_holder {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/econauts_slide_background.png");
  background-repeat: no-repeat;
  height: 553px;
  width: 960px; }

.video_container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/video_container.png");
  background-repeat: no-repeat;
  height: 485px;
  width: 960px; }
  .video_container iframe {
    float: left;
    margin: 40px 0 0 140px; }

#development_details {
  position: relative;
  margin: 0 auto;
  background-image: url("images/development_details.png");
  background-repeat: no-repeat;
  height: 360px;
  width: 960px; }

#collect_game_data {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-image: url("images/collect_game_data.png");
  background-repeat: no-repeat;
  height: 265px;
  width: 961px; }

#space_filler {
  height: 25px;
  width: 960px; }

/* Extra Containers */
#about_content {
  overflow: hidden;
  position: absolute;
  top: 135px;
  left: 83px;
  width: 485px;
  height: 170px; }

#about_content p {
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .03em; }

#development_content {
  overflow: hidden;
  position: absolute;
  top: 135px;
  left: 415px;
  width: 450px;
  height: 170px; }

#development_content p {
  color: white;
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .03em; }

#slider_content {
  position: absolute;
  top: 85px;
  left: 24px;
  width: 914px;
  height: 443px; }

#collect_game_data_content {
  position: absolute;
  height: 90px;
  width: 600px;
  left: 280px;
  top: 55px; }

#collect_game_data_content p {
  color: white;
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .03em; }

.linkto {
  color: white;
  font-style: italic; }

.linkto:hover {
  color: #ffdd14; }

/* bottom_logos */
#bottom_logos_holder {
  position: relative;
  top: 295px;
  width: 761px;
  height: 96px;
  margin: 0 auto; }

#logos {
  width: 742px;
  height: 83px; }

.gls {
  display: inline;
  background: url("images/footer_logo_sprite.png") no-repeat -10px -12px;
  width: 139px;
  height: 59px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.gls:hover {
  background: url("images/footer_logo_sprite.png") no-repeat -10px -85px;
  width: 139px;
  height: 59px;
  opacity: 1; }

.lgn {
  margin-left: 30px;
  display: inline;
  background: url("images/footer_logo_sprite.png") no-repeat -176px -17px;
  width: 90px;
  height: 51px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.lgn:hover {
  background: url("images/footer_logo_sprite.png") no-repeat -176px -90px;
  width: 90px;
  height: 51px;
  opacity: 1; }

.wid {
  margin-left: 30px;
  display: inline;
  background: url("images/footer_logo_sprite.png") no-repeat -295px -16px;
  width: 115px;
  height: 53px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.wid:hover {
  background: url("images/footer_logo_sprite.png") no-repeat -295px -89px;
  width: 115px;
  height: 53px;
  opacity: 1; }

.nsf {
  margin-left: 30px;
  display: inline;
  background: url("images/footer_logo_sprite.png") no-repeat -432px -6px;
  width: 67px;
  height: 66px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.nsf:hover {
  background: url("images/footer_logo_sprite.png") no-repeat -432px -79px;
  width: 67px;
  height: 66px;
  opacity: 1; }

.uw {
  margin-left: 30px;
  display: inline;
  background: url("images/footer_logo_sprite.png") no-repeat -527px -10px;
  width: 206px;
  height: 59px;
  opacity: .65;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.uw:hover {
  background: url("images/footer_logo_sprite.png") no-repeat -527px -83px;
  width: 206px;
  height: 59px;
  opacity: 1; }

/* Download Buttons */
#download_button_container {
  width: 960px;
  height: 100px;
  margin: 0 auto; }

#download_button {
  margin: 0 auto;
  width: 600px;
  height: 100px; }

#download_button ul {
  list-style: none; }

ul#buttons li {
  margin: 5px;
  display: inline;
  float: left; }

#pc_button {
  background: url("images/pc_mac_sprites_shadows.png") no-repeat -6px -19px;
  width: 275px;
  height: 91px; }

#pc_button:hover {
  background: url("images/pc_mac_sprites_shadows.png") no-repeat -6px -118px;
  width: 275px;
  height: 91px; }

#mac_button {
  background: url("images/pc_mac_sprites_shadows.png") no-repeat -290px -20px;
  width: 275px;
  height: 90px; }

#mac_button:hover {
  background: url("images/pc_mac_sprites_shadows.png") no-repeat -290px -119px;
  width: 275px;
  height: 90px; }

/* unslider */
.banner {
  position: relative;
  overflow: auto; }

.banner li {
  list-style: none; }

.banner ul li {
  float: left; }

.banner img {
  width: 913px;
  height: 442px; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  text-align: center;
  list-style-type: decimal; }

.dots li {
  text-indent: -999em;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border: 2px solid #000000;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s; }

.dots li.active {
  background: #ffdd14;
  opacity: 1; }

.slider.slide_one {
  background-image: url("images/screenshot_1.jpg");
  background-position: center top;
  width: 913px;
  height: 442px; }

.slider.slide_two {
  background-image: url("images/screenshot_2.jpg");
  width: 913px;
  height: 442px; }

.slider.slide_three {
  background-image: url("images/screenshot_3.jpg");
  width: 913px;
  height: 442px; }

.slider.slide_four {
  background-image: url("images/screenshot_4.jpg");
  width: 913px;
  height: 442px; }

.slider p {
  position: relative;
  top: 50%;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 100;
  text-shadow: 2px 2px #000000; }

/* Scroll Top Button */
.scrollToTop {
  width: 200px;
  height: 125px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  left: 40px;
  display: none;
  background: url("images/backtotop.png") no-repeat 0px 20px;
  z-index: 100;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out; }

.scrollToTop:hover {
  background: url("images/backtotop_b.png") no-repeat 0px 20px;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out; }

/* Mobile */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%; } }
