* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff; }

img {
  text-decoration: none;
  border: 0px; }

p {
  font-family: "aktiv-grotesk-std", "sans-serif";
  font-size: 14px; }

.emphasize {
  color: #f5a692; }

/* Navigation */
#nav_bar {
  width: 960px;
  left: 115px;
  position: absolute;
  top: 85px; }
  #nav_bar ul li {
    font-family: "aktiv-grotesk-std", "sans-serif";
    font-size: 14px;
    line-height: 14px;
    position: relative;
    width: 100px;
    color: #FFF;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #863623;
    background: #863623;
    text-align: center;
    padding: 10px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #431b11;
    -moz-box-shadow: 0px 9px 0px #431b11;
    box-shadow: 0px 9px 0px #431b11; }
  #nav_bar ul li:hover {
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position: relative;
    top: 7px; }

/* Main Containers */
header {
  background: url("images/repeat_top_image.png");
  background-repeat: repeat-x;
  width: 100%; }

#header_container {
  background: url("images/header_background.png");
  background-repeat: no-repeat;
  width: 960px;
  height: 308px;
  margin: 0 auto;
  position: relative; }

#tagline {
  left: 20px;
  top: 70px;
  position: absolute;
  width: 400px;
  height: 75px; }

#tagline p {
  font-family: 'Muli', sans-serif;
  color: white;
  font-size: 25px;
  line-height: 28px;
  font-weight: 100; }

#tagline a {
  text-decoration: none;
  color: white;
  transition: color .25s ease-in;
  -moz-transition: color .25s ease-in;
  -webkit-transition: color .25s ease-in; }
#tagline a:hover {
  color: #933d2a;
  transition: color .25s ease-in;
  -moz-transition: color .25s ease-in;
  -webkit-transition: color .25s ease-in; }

/* Platform Logos */
#platform_logos {
  position: absolute;
  left: 10px;
  top: 130px;
  width: 280px;
  height: 72px; }
  #platform_logos ul li {
    margin: 15px; }

.win {
  background: url("images/platform_logos.png") no-repeat -3px -62px;
  width: 50px;
  height: 53px; }

.mac {
  background: url("images/platform_logos.png") no-repeat -68px -65px;
  width: 47px;
  height: 48px; }

.games_portal {
  background: url("images/platform_logos.png") no-repeat -129px -70px;
  width: 70px;
  height: 43px; }

#trailer {
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  height: 149px;
  border: 6px solid #863623;
  border-radius: 2%;
  -webkit-box-shadow: 0px 7px 0px 0px #5d200d;
  -moz-box-shadow: 0px 7px 0px 0px #5d200d;
  box-shadow: 0px 7px 0px 0px #5d200d; }

#trailer_image {
  background-image: url("images/trailer_image_a.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 149px; }

#trailer_image:hover {
  background-image: url("images/trailer_image_hover.png"); }

.small_text {
  font-size: 15px; }

#logo {
  background: url("images/fairplay_logo.png");
  background-repeat: none;
  width: 526px;
  height: 356px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 30px;
  z-index: 99; }

#section1_container {
  width: 100%;
  background-color: #fff2d2; }

#section1 {
  position: relative;
  width: 960px;
  height: 493px;
  margin: 0 auto;
  background: url("images/section1_crystal.png");
  background-repeat: no-repeat; }

#section1a_container {
  width: 100%;
  background-color: #fff2d2; }

#section1a {
  position: relative;
  width: 960px;
  height: 342px;
  margin: 0 auto;
  background: url("images/section1a_bryan.png");
  background-repeat: no-repeat; }

#section2_container {
  width: 100%;
  background-color: #ffe6a9; }

#section2 {
  width: 960px;
  height: 564px;
  margin: 0 auto; }

#section2_left {
  position: relative;
  width: 629px;
  height: 564px;
  float: left;
  background: url("images/section2_left.png");
  background-repeat: no-repeat; }

#section2_right {
  position: relative;
  width: 331px;
  height: 564px;
  float: left;
  background: url("images/section2_right.png");
  background-repeat: no-repeat; }

#section3_container {
  width: 100%;
  background-color: #fff2d2; }

#section3 {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 342px;
  background: url("images/section3_lucas.png");
  background-repeat: no-repeat; }

#section3a_container {
  width: 100%;
  background-color: #fff2d2; }

#section3a {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 345px;
  background: url("images/section3a_shania.png");
  background-repeat: no-repeat; }

footer {
  background: url("images/repeat_bottom_image.png");
  background-repeat: repeat-x;
  width: 100%; }

/* Screenshots */
.screenshot_container {
  width: 100px;
  height: 100px; }

.screenshot_container img {
  opacity: .75;
  transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in; }

.screenshot_container img:hover {
  opacity: 1;
  transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in; }

.one {
  position: absolute;
  left: 122px;
  top: 132px; }

.two {
  position: absolute;
  left: 265px;
  top: 130px; }

.three {
  position: absolute;
  left: 406px;
  top: 130px; }

.four {
  position: absolute;
  left: 201px;
  top: 287px; }

.five {
  position: absolute;
  left: 343px;
  top: 285px; }

/* Extra Containers */
#section1_content {
  top: 270px;
  left: 375px;
  position: absolute;
  height: 135px;
  width: 535px; }

#section1a_content {
  left: 45px;
  top: 85px;
  position: absolute;
  height: 135px;
  width: 535px;
  overflow: hidden; }

#section2_right_content {
  position: absolute;
  top: 155px;
  left: 55px;
  width: 205px;
  height: 230px; }

#section3_content {
  position: absolute;
  top: 120px;
  left: 375px;
  height: 135px;
  width: 535px; }

#section3a_content {
  position: absolute;
  left: 45px;
  top: 45px;
  height: 135px;
  width: 535px; }

#footercontainer {
  position: relative;
  width: 960px;
  height: 258px;
  margin: 0 auto; }

#footercontainer_left {
  width: 355px;
  height: 258px;
  float: left; }

#footercontainer_right {
  width: 605px;
  height: 258px;
  float: left; }

#footercontainer_right p {
  color: white;
  font-size: 13px;
  font-weight: 200;
  padding-top: 65px; }

/* Footer Logos */
#top_row {
  position: absolute;
  top: 60px;
  height: 70px; }

#bottom_row {
  position: absolute;
  top: 120px;
  left: 30px; }

ul.footer_logos {
  list-style: none; }

ul.footer_logos_second_row {
  list-style: none; }

ul li {
  margin: 8px;
  display: inline;
  float: left; }

.gls {
  background: url("images/footer_logo_sprites.png") no-repeat -25px -21px;
  width: 116px;
  height: 51px; }

.gls:hover {
  background: url("images/footer_logo_sprites.png") no-repeat -25px -158px;
  width: 116px;
  height: 51px; }

.lgn {
  background: url("images/footer_logo_sprites.png") no-repeat -162px -25px;
  width: 76px;
  height: 43px; }

.lgn:hover {
  background: url("images/footer_logo_sprites.png") no-repeat -162px -162px;
  width: 76px;
  height: 43px; }

.wid {
  background: url("images/footer_logo_sprites.png") no-repeat -261px -25px;
  width: 97px;
  height: 45px; }

.wid:hover {
  background: url("images/footer_logo_sprites.png") no-repeat -261px -162px;
  width: 97px;
  height: 45px; }

.nsf {
  background: url("images/footer_logo_sprites.png") no-repeat -69px -83px;
  width: 57px;
  height: 56px; }

.nsf:hover {
  background: url("images/footer_logo_sprites.png") no-repeat -69px -220px;
  width: 57px;
  height: 56px; }

.uw {
  background: url("images/footer_logo_sprites.png") no-repeat -148px -86px;
  width: 172px;
  height: 51px; }

.uw:hover {
  background: url("images/footer_logo_sprites.png") no-repeat -148px -223px;
  width: 172px;
  height: 51px; }

/* Scroll Top */
.scrollToTop {
  width: 121px;
  height: 159px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  left: 40px;
  display: none;
  background: url("images/arrow-up.png") no-repeat 0px 20px;
  z-index: 100;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out; }

.scrollToTop:hover {
  background: url("images/arrow-up-hover.png") no-repeat 0px 20px;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out; }
