
/*------------------------------------------------------------------

STYLESHEET CONTENTS

    -- GLOBAL STYLES
    -- MIXINS
    -- MISC CLASSES
    -- ACTIVE PAGE
    -- CONTAINERS
    -- NAVIGATION
    -- ELEMENTS
    -- FOOTER
    
-------------------------------------------------------------------*/


/*------------------------------------------------------------------

    Global Styles

-------------------------------------------------------------------*/

* {
    margin:0; padding:0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow:scroll; background:url(../images/bg_tile.png); }

body{ font-family:verdana; font-size:12px; background:url(../images/header_texture.png) 50% 0% no-repeat; }

a{
    text-decoration:none;
    font-family:times-new-roman;
    color:#e9e5cc;
    letter-spacing:1px;
    
    &:hover{
        text-decoration:underline;
    }
}

p{
    font-family:times-new-roman;
    color:#979273;
    font-size:19px;
    letter-spacing:1px;
}

ul{ list-style:none; }

hr{  }

h1{  }
h2{  }
h3{  }
h4{  }
h5{  }

::selection{ background:#0e0d12; color:white; }

/* End Global Styles */


/*------------------------------------------------------------------

    Mixins

-------------------------------------------------------------------*/

@mixin center{ margin:0 auto; }

@mixin full { width:100%; float:left; }

@mixin transition{
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
}

@mixin rounded_corners{
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}


/* End Mixins */


/*------------------------------------------------------------------

    Misc Classes

-------------------------------------------------------------------*/

.clear{ clear: both; }

.left{ float:left; }
.right{ float:right; }

.bold{ font-weight:bold;}
.italic{ font-style: italic; }
.underline{ text-decoration:underline; }

.center_text{ text-align:center; }
.all_caps{ text-transform:uppercase; }
.lower_case{ text-transform:lowercase; }

.header{
    font-family:refrigerator-deluxe;
    text-transform:uppercase;
    letter-spacing:7px;
    
    background: -webkit-linear-gradient( #e5ddcd , #bca78a );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    color:#e5ddcd;
}

/* End Misc Classes */



/*------------------------------------------------------------------

    Active Page

-------------------------------------------------------------------*/

    /*
      body#ID_NAME_HERE .Navigation_Name li.List_Item_Class_Here{ Style for active Nav button }
    */

/* End Active Page */



/*------------------------------------------------------------------

    Containers

-------------------------------------------------------------------*/

.one_eigth{ width:12.5%; }
.one_sixth{ width:16.66%;}
.one_fourth{ width:25%; }
.one_third{ width:33.33%; }
.one_half{ width:50%; }
.two_thirds{ width:66.66%; }
.full{ @include full; }

.container{  }

.page_wrap{ width:980px; @include center; }

.soul_logo_container{
    @include full;
    padding:100px 0 100px 0;
    
    .soul_logo{
        @include center;
        
        height:83px;
        width:449px;
        background:url(../images/soul_logo.png);
    }
}

.soul_logo_container_demo{
    @include full;
    padding:50px 0 25px 0;
    
    .soul_logo{
        @include center;
        
        height:83px;
        width:449px;
        background:url(../images/soul_logo.png);
    }
}

.travel_back_container{
    
    .travel_back_text{
        width:790px;
        float:left;
        
        .header{
            font-size:48px;
        }
    }
        
    .play_button{
        height:163px;
        width:173px;
        float:right;
        background:url(../images/play_button_up.png);
        
        &:hover{
            background:url(../images/play_button_hover.png);
        }
    }
}

.multiple_and_companion_container{
    @include full;
    
    .multiple_narratives{
        @include full;
        
        .multiple_narratives_text{
            float:left;
            width:475px; 
            
            .header{
                font-size:40px;
            }
        }
        
        .multiple_narratives_image{
            height:292px;
            width:496px;
            float:right;
            background:url(../images/multiple_narratives.png);                        
        }
    }
    
    .companion_projects{
        @include full;
        
        .companion_projects_text{
            float:right;
            width:475px;
            
            .header{
                margin:7px 0 0 0;
                font-size:40px;
            }
        }
        
        .companion_projects_image{
            height:249px;
            width:477px;
            float:left;
            background:url(../images/companion_projects.png); 
        }
    }
}

.screenshots{
    @include full;
    
    .header{
        font-size:48px;
    }
}

.footer_container{
    float:left;
    height:307px;
    width:1333px;
    background:url(../images/footer_texture.png);
    margin:-100px 0 0 -175px;
    
    z-index:0;
    position:relative;
    
    .footer_logo_container{
        @include center;
        
        height:74px;
        width:535px;
        padding:135px 0 0 0;
        
        .lgn_logo{
            height:73px;
            width:126px;
            background:url(../images/lgn_logo.png);
            float:left; 
        }
        
        .stone_soup_productions_logo{
            height:60px;
            width:177px;
            background:url(../images/stone_soup_productions_logo.png);
            float:left;
            margin:0 0 0 50px;
        }
        
        .spark_media_logo{
            height:74px;
            width:130px;
            background:url(../images/spark_media_logo.png);
            float:right;
        }
    }
}

/* End Containers */



/*------------------------------------------------------------------

    Navigation

-------------------------------------------------------------------*/

header{  }

.nav{
    
    li{
        
        a{
            
        }
    }
}


/* End Navigation */



/*------------------------------------------------------------------

    Elements

-------------------------------------------------------------------*/
  
.element{  }

.divider{
    @include full;
    
    height:42px;
    background:url(../images/divider.png);
    margin:26px 0 26px 0;
    
    z-index:99;
    position:relative;
}


.screenshots {
    @include full;
    
    margin: 0 0 0 0;
    
    .thumbnails {
        width:180px;
        height:100px;
    }
    
    .first_screenshot{ float:left; margin:10px 0 10px 0; }
    .screenshot{ float:left; margin:10px 0 10px 20px; }

}

#unityPlayer{ margin:0 0 0 40px; }

/* End Elements */



/*------------------------------------------------------------------

    Footer

-------------------------------------------------------------------*/
footer{  }

/* End Footer */












